<section class="bolos">
  <p class="info">
    Os valores de nossos bolos confeitados variam de acordo com os recheios e o
    tamanho escolhido.
  </p>
  <a routerLink="/tabelas" class="link">Consulte nossas tabelas!</a>
  <article class="acetato">
    <h2 class="subtitulo">Bolos no acetato:</h2>
    <img
      src="../../../assets/images/acetato1.jpeg"
      alt="Bolo no Acetato"
      class="img-bolo"
    />
    <img
      src="../../../assets/images/acetato2.jpeg"
      alt="Bolo no Acetato"
      class="img-bolo"
    />
    <img
      src="../../../assets/images/acetato3.jpeg"
      alt="Bolo no Acetato"
      class="img-bolo"
    />
  </article>
  <article class="chantininho">
    <h2 class="subtitulo">Bolos com Chantininho:</h2>
    <img
      src="../../../assets/images/chatininho1.jpeg"
      alt="Bolo no Chantininho"
      class="img-bolo"
    />
    <img
      src="../../../assets/images/chantininho2.jpeg"
      alt="Bolo no Chantininho"
      class="img-bolo"
    />
    <img
      src="../../../assets/images/chantininho3.jpeg"
      alt="Bolo no Chantininho"
      class="img-bolo"
    />
  </article>
</section>
