footer {
  background-color: #ffb3d9;
  border-top: 0.75rem solid #663300;
  border-bottom: 0.75rem solid #663300;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 3rem;
}

.contato {
  color: #663300;
  font-family: "Alkatra", cursive;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.whatsapp,
.email {
  color: #663300;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.whatsapp:before {
  background-image: url("../../../assets/images/whatsapp.png");
  background-size: 1.75rem 1.75rem;
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  content: "";
}

.email:before {
  background-image: url("../../../assets/images/email.png");
  background-size: 1.75rem 1.75rem;
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  content: "";
}

.redes-sociais {
  color: #663300;
  font-family: "Alkatra", cursive;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.icones-redes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.logo-rede {
  width: 5rem;
  height: 5rem;
}

.pagamento {
  color: #663300;
  font-family: "Alkatra", cursive;
  font-size: 1.5rem;
}

.metodos-pagamento {
  margin-top: 1rem;
}

@media screen and (max-width: 990px) {
  footer {
    flex-direction: column;
  }

  .contato,
  .whatsapp,
  .email,
  .redes-sociais,
  .pagamento {
    font-size: 1.25rem;
  }

  .whatsapp,
  .email {
    margin: 0.5rem 0;
  }

  .icones-redes {
    gap: 1rem;
  }

  .logo-rede {
    width: 3rem;
    height: 3rem;
  }

  .subtitulo {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
  }

  .metodos-pagamento p {
    text-align: center;
    margin: 0.25rem 0;
  }
}
