<footer>
  <div class="contato">
    <p>Contato:</p>
    <a
      href="https://api.whatsapp.com/send?phone=5521997508542"
      class="whatsapp"
    >
      &nbsp;(21)99750-8542</a
    >
    <a href="mailto:prigalieta@gmail.com" class="email">
      &nbsp;prigalieta@gmail.com</a
    >
  </div>
  <div class="redes-sociais">
    <p>Redes Sociais:</p>
    <div class="icones-redes">
      <a href="https://www.instagram.com/simplesmentebolos.prisgalieta"
        ><img
          src="../../../assets/images/instagram.png"
          alt="Logo Instagram"
          width="80"
          heigth="80"
      /></a>
      <a href="https://www.facebook.com/simplesmentebolos"
        ><img
          src="../../../assets/images/facebook.png"
          alt="Logo Facebook"
          width="80"
          heigth="80"
      /></a>
    </div>
  </div>
  <div class="pagamento">
    <p>Métodos de pagamento:</p>
    <div class="metodos-pagamento">
      <p>Pix</p>
      <p>Cartão</p>
      <p>Dinheiro (na entrega)</p>
    </div>
  </div>
</footer>
