header {
  background-image: url(../../../assets/images/fundoHeader.jpg);
  border-top: 0.75rem solid #663300;
  border-bottom: 0.75rem solid #663300;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 250px;
  width: 250px;
}

nav a {
  color: #663300;
  font-family: "Alkatra", cursive;
  font-size: 1.75rem;
  margin-right: 2rem;
  text-decoration: none;
}

@media screen and (max-width: 990px) {
  .logo {
    height: 200px;
    width: 200px;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 503px) {
  header {
    padding: 0.375rem;
  }

  nav a {
    font-size: 1.25rem;
  }
}
