<section class="bolos">
  <p class="info">
    Os valores de nossos bolos caseiros variam de acordo com o tamanho
    escolhido.
  </p>
  <a routerLink="/tabelas" class="link">Consulte nossas tabelas!</a>
  <article class="caseiros">
    <h2 class="subtitulo">Nossos Bolos Caseiros:</h2>
    <img
      src="../../../assets/images/caseiro1.jpeg"
      alt="Bolo no Acetato"
      class="img-bolo"
    />
    <img
      src="../../../assets/images/caseiro2.jpeg"
      alt="Bolo no Acetato"
      class="img-bolo"
    />
    <img
      src="../../../assets/images/caseiro3.jpeg"
      alt="Bolo no Acetato"
      class="img-bolo"
    />
  </article>
</section>
