main {
  text-align: center;
}

.btn-whatsapp {
  background-color: #25d366;
  color: #ece5dd;
  padding: 1rem 2rem;
  border: 4px solid #128c7e;
  border-radius: 8px;
}

.btn-whatsapp:hover {
  background-color: #ece5dd;
  color: #25d366;
}
